.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.header-top {
    background-color: #f3f4f4;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.container-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
}
.logo {
    width: 219px;
}
.contact {
    display: flex;
}
.contact-link {
    color: $main;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
    letter-spacing:normal
}
.social-ico {
    width: 30px;
    height: 30px;
    fill: #9fcb8f;

    &:hover {
        fill: $hover-ico;
    }
}
.header-bottom {
    border-bottom: 1px solid $main;
    background-color: $white;
}
.container-home-bottom {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-nav {
    display: flex;
}
.link-opened {
    position: relative;
}
.nav-link-block {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 0 15px;
    font-size: 16px;
    &:hover > .link-opened ~ .nav-bar-opened {
        display: flex;
    }
    &:first-child {
        margin: 0 15px 0 0;
    }
}
.nav-bar-opened {
    display: none;
    position: absolute;
    top: 115px;
    flex-direction: column;
    z-index: 999;
    background-color: #fff;
    border: 1px solid rgb(180, 180, 180);
    width: 225px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 9px 1px;
}
.nav-bar-opened-link {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    padding: 10px 15px;
    &:hover {
        background-color: #f3fbef;
    }
}
.bar-opened-last {
    width: 230px;
}
.nav-link {
    text-decoration: none;
    color: $main-black;
    font-weight: 500;
}
.arrow-ico {
    width: 12px;
    height: 12px;
    stroke: $main;
    margin-left: 8px;
}
.main-link,
.main-ico {
    color: $main;
    fill: $main;
    font-weight: 800;
}
.get__btn {
    text-transform: uppercase;
    background-color: $btn-purple;
    padding: 12px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    &:hover {
        background-color: $main;
    }
}
.header-burger-block {
    display: none;
}
.burger-open {
    width: 33px;
    height: 33px;
    cursor: pointer;
    margin-left: 10px;
    z-index: 99999;
}
.burger-close {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 10px;
    display: none;
}
.burger-nav {
    text-align: center;
    background-color: #fff;
}
.burger-position {
    display: none;
    width: 100%;
    position: absolute;
}
.block-opened {
    display: block !important;
}
.block-closed {
    display: none !important;
}
.link-opened-burger {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 10px 0;
}
.main-ico-burger {
    position: absolute;
    right: 30px;
}
.burger-bar-opened {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    background-color: #fafafa;
    display: none;
}

@media (max-width: 768px) {
    .header {
        position: static;
    }
    .header-nav {
        display: none;
    }
    .header-burger-block {
        display: block;
    }
    .nav-bar-opened-link {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .header .container {
        padding: 0;
    }
}
@media (max-width: 425px) {
    .contact-link {
        font-size: 16px;
    }
    // .header-nav {
    //     display: block;
    // }
    .analysis-material-reverse .material-block-left {
        display: block;
    }
    .analysis-material-reverse .material-block {
        flex-direction: column;
    }
    .analysis-material-reverse .material-block-left {
        margin: 0;
    }
    .material-block-left__subtitle {
        font-size: 32px;
    }
    .recruitment {
        margin: 50px 0;
    }
}
@media (max-width: 375px) {
    .partnership__subtitle {
        font-size: 18px;
    }
    .partnership-name {
        font-size: 13px;
    }
    .partnership__title,
    .partnership-text {
        font-size: 12px;
    }
    .nav-link-block {
        font-size: 12px;
    }
    .partnership-block {
        padding: 30px 0 50px 0;
    }
    .recruitment__text {
        margin-bottom: 0;
    }
}