.analysis-block .recruitment-img {
    max-width: 550px;
}
.analysis-block .get__btn {
    padding: 10px 30px;
    background-color: $main;
    &:hover {
        background-color: $btn-purple;
    }
}
.analysis-block .recruitment-block-left {
    margin-left: 40px;
}

.analysis-material .material-block-left {
    background-color: #fff;
}
.analysis-material {
    padding-bottom: 50px;
}

.analysis-material-reverse .material-block {
    flex-direction: row-reverse;
    margin: 50px 0;
}
.analysis-material-reverse .material-block-left {
    margin-left: 40px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
}
.material-block-left__subtitle {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.4em;
    color: $main;
    margin-bottom: 10px;
}
.material-block-left__title {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4em;
    color: $main;
}
@media (max-width: 1024px) {
    .container-padding-analysis {
        padding: 0 20px;
    }
}
@media (max-width: 768px) {
    .material-block-left {
        margin-right: 0;
    }
    .material-block-img {
        max-width: 245px;
    }
    .material-block-left__subtitle {
        font-size: 40px;
    }
    .material-block-left__title {
        font-size: 20px;
    }
    .marketing-intro {
        padding-top: 0;
    }
    .analysis-material-reverse .material-block-left {
        display: none;
    }
}
@media (max-width: 425px) {
    .material-block {
        flex-direction: column;
    }
    .analysis-block .recruitment-block-left {
        margin: 0;
    }
    .marketing-intro .intro-block {
        padding-top: 35px;
    }
}

@media (max-width: 325px) {
    .intro__subtitle {
        font-size: 32px;
    }
    .intro__title {
        font-size: 18px;
    }
    .container-padding {
        padding: 0 20px;
    }
    .analysis-material-reverse .material-block-left {
        padding: 20px;
    }
}